:root {
	--findbar-transform-hiddenY: -20vh;
	--findbar-transform-showY: 0vh;
	--findbar-position-top: 10vh;
	--findbar-position-left: 30%;
	--findbar-background-color: black;
}

/* Custom background */
@media (-moz-bool-pref: "theme-better_find_bar-enable_custom_background") {
	:root {
		--better-findbar-background-color: var(--theme-better_find_bar-custom_background);
	}
}

findbar {
	display: flex !important;

	border-radius: 15px !important;
	margin: 0px !important;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;

	width: 40% !important;
	max-width: 100%;

	height: auto !important;

	position: absolute !important;

	top: var(--findbar-position-top);
	left: var(--findbar-position-left);
	transform: translateY(var(--findbar-transform-showY));

	overflow: unset !important;
	box-shadow: var(--box-shadow-10);

	background: var(--findbar-background-color) !important;
	border: 1px solid grey !important;

	transition: transform 0.25s ease,
		border 0s 0s,
		background 0s 0s !important;

	visibility: visible !important;
	opacity: 1 !important;

	& .findbar-container {
		flex-wrap: wrap;
		overflow-x: auto !important;
		height: auto !important;

		row-gap: 10px;

		& > :first-child {
			width: 100% !important;
		}

		& .findbar-textbox {
			flex-grow: 1;
		}
	}

	@starting-style {
		transform: translateY(var(--findbar-transform-hiddenY));
		background: transparent !important;
		border-color: transparent !important;
	}

	&[hidden],
	&:not(:focus-within){
		transform: translateY(var(--findbar-transform-hiddenY));
		pointer-events: none;

		background: transparent !important;
		border-color: transparent !important;

		transition: transform 0.25s ease,
			border 0s 0.25s,
			background 0s 0.25s !important;
	}
}
